
.idea/.name

.idea/chat_nodejs.iml

.idea/deployment.xml

.idea/encodings.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

public/.DS_Store

public/assets/.DS_Store

public/assets/css/.DS_Store

npm-debug.log

.DS_Store

.idea/misc.xml
.idea/copyright/profiles_settings.xml
.idea/jsLibraryMappings.xml
.idea/watcherTasks.xml
.idea/dictionaries/alan.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/myapp8.iml
node_modules/aws-sdk/node_modules/querystring/.History.md.un~
node_modules/aws-sdk/node_modules/querystring/.package.json.un~
node_modules/aws-sdk/node_modules/querystring/.Readme.md.un~
node_modules/aws-sdk/node_modules/querystring/test/.index.js.un~
node_modules/socket.io/node_modules/engine.io/node_modules/engine.io-parser/node_modules/base64-arraybuffer/package.json~
node_modules/socket.io/node_modules/engine.io/node_modules/engine.io-parser/node_modules/base64-arraybuffer/README.md~
node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/engine.io-parser/node_modules/base64-arraybuffer/package.json~
node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/engine.io-parser/node_modules/base64-arraybuffer/README.md~
modules/set_env.js
modules/local.js
.idea/blade.xml
.idea/workspace.xml___jb_tmp___
log.txt

public/downloads/
public/uploads/
.idea/workspace.xml
.idea/
